<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Car price prediction</title>

    <style>

        .text-center {
  text-align: center;
}

.button4 {font-size: 20px;}

body {
 background-color: #cccccc;
}
    </style>

</head>
<body>

<div class="container">

    <form action="{{ url_for('predict')}}" method="post">
        <br><br>
        <h1 class="text-center">Car Price Prediction</h1>
        <br><br>
        <div class="form-group">
            <h3>Year</h3>
            <input id="first" class="form-control" name="Year" type="number ">
        </div>
        <div class="form-group">
            <h3>What is the Showroom Price?(In lakhs)</h3>
            <br>
            <input id="second" class="form-control" name="Present_Price" required="required">
        </div>
        <div class="form-group">
            <h3>How Many Kilometers Drived?</h3>
            <input id="third" class="form-control" name="Kms_Driven" required="required">
        </div>
        <div class="form-group">
            <h3>How much owners previously had the car(0 or 1 or 3) ?</h3>
            <br>
            <input id="fourth" class="form-control" name="Owner" required="required">
        </div>
        <div class="form-group">
            <h3>What Is the Fuel type?</h3>
            <br>
            <select name="Fuel_Type_Petrol" id="fuel" class="form-control" required="required">
                <option value="Petrol">Petrol</option>
                <option value="Diesel">Diesel</option>
                <option value="Diesel">CNG</option>
            </select>
        </div>
        <div class="form-group">
            <h3>Are you A Dealer or Individual</h3>
            <br>
            <select name="Seller_Type_Individual" class="form-control" id="resea" required="required">
                <option value="Dealer">Dealer</option>
                <option value="Individual">Individual</option>
            </select>
        </div>
        <div class="form-group">
            <h3>Transmission type</h3>
            <br>
            <select name="Transmission_Mannual" id="research" class="form-control" required="required">
                <option value="Mannual">Manual Car</option>
                <option value="Automatic">Automatic Car</option>
            </select>
            <br><br>
        </div>
        <div class="form-group">
            <button id="sub" class="btn btn-success text-center button4" type="submit ">Predict</button>
        </div>
        <br>

    </form>
    <br><br>
<h2>{{ prediction_text }}<h2>
</div>



</body>
</html>